<footer class="footer">
    <div class="container">
        <p>Another project from <a href="https://bigpixel.ca/" title="Big Pixel Creative"><img src="/static/images/bp-logo.png" title="Big Pixel Creative"/></a></p>
    </div>
</footer>
